{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
	<div class = "Reset-page-body">
		<div class = "container">
	<div class="row reset-page-section">
		<div class="col-md-6    ">
			<div class = "reset-image w-100" style="background-image : url({% static 'images/loginimg1.jpg' %})">
			</div>
		</div>
		<div class="col-md-6 reset-form-section">
      	 	<div id="error"></div>
			   <div class="reset-form-details">
			   <form action="{% url 'resetpassword' %}" method = 'POST' id="contactform" class="contact-form">
				{% csrf_token%}
				<div class="reset">
					<div class="mb-3">
						<h5 class = "card-title text-muted">Provide your email to receive reset instructions</h5>
						<input type="email" name= 'email' placeholder="Enter your Email..." class="form-control" id="email" aria-describedby="emailHelp" required>
					  </div>
					<div>
						<button type="submit" class="btn btn-primary" id="button1">Submit</button>
					</div>
                    <div class="card-body">
                        <p>
                            Already have an account? <a href="{% url 'login' %}">Login</a><br>
                            Dont have an account? <a href="{% url 'register' %}">Register</a>
                        </p>
                    </div>
					<div>
						{% if messages %}
						{% for result in messages %}
						<b style="color: green;">{{result}}</b>
						{% endfor %}
						{% endif%}
					</div>
				 </div>
				</form>
			</div>
    </div> 
	</div>        
</div>
</div>
 </body>
 <style>
    #button1 {
		width: 40%;
		background-color: #299479 !important;
		border: none !important;
		height: 40px;
		color: white;
	  }
    .reset-page-body{
		margin-top: 150px;
		margin-bottom: 50px;
	  }
	  .reset-image{
		height: 550px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	  }
	
	  .reset-page-section {
		--bs-gutter-x: 0px;
	  
	  }
	
	  .reset-form-section {
		position: relative;
		border: 1px solid black;
	  }
	
	  .reset-form-details {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }
 </style>
 {% endblock content %}