{% extends 'base.html' %} {% load static %} {% block content %}

<body>
  <div class="hero-image-slider-section">
  <div class="container">
    <div class="card bg-transparent">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner hero-image-slider">  
          <div class="carousel-item active">
            <div class="card">
              <img src="{% static 'images/slider.jpg' %}" class="card-img d-block w-100" alt="">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img src="{% static 'images/slider4.jpg' %}" class="card-img d-block w-100" alt="">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img src="{% static 'images/slider5.jpg' %}" class="card-img d-block w-100" alt="">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  </div>
</div>
  {% if request.session.Name %}
  <h4>{{request.session.Name}} &nbsp;&nbsp;</h4>
  {%endif%}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <h1 class = "mb-4">Categories</h1> -->
        <form action="/search" method="GET">
        <div class="Categories d-flex justify-content-end mt-5">
          <button name = "query" value = "womens wear" class="btn btn-primary" id="btn-color">
            Womens Wear
          </button>
          <button name = "query" value = "mens wear" class="btn btn-primary" id="btn-color" >
            Mens Wear
          </button>
          <button name = "query" value = "kids wear" class="btn btn-primary" id="btn-color" >
            Kids Wear
          </button>
          <button name = "query" value = "party bag" class="btn btn-primary" id="btn-color" >
            Party Bag
          </button>
          <button name = "query" value = "hand bag" class="btn btn-primary" id="btn-color" >
            Hand Bag
          </button>
          <button name = "query" value = "side bag" class="btn btn-primary" id="btn-color" >
            Side Bag
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <br />
  <!-- container -->
  <div class="container">
    <h3 class="mt-4"><b>Explore The Collection </b></h3>
    <div class="row mt-4">
      {% for product in items %}
      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="card-img-top" style="background-image: url({{product.product_image.url}});">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">Rs {{ product.item_price }}</p>
            <button class="btn btn-primary item-name" onclick="location.href = '/productdetail/{{ product.id }}'">
              View Details
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br />
  <!-- second container -->
  <div class="container">
    <h3 class="mt-4"><b>Just For You</b></h3>
    <div class="row mt-4">
      {% for product in image %}
      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="card-img-top" style="background-image: url({{product.product_image.url}});">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">Rs {{ product.item_price }}</p>
            <button class="btn btn-primary item-name" onclick="location.href = '/productdetail/{{ product.id }}'">
              View Details
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- container section for desired destination ends -->
  <br />
  <br />
  <!-- <button class="Item-name" onclick="location.href = 'logout'">
    <b>Logout</b> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
  .hero-image-slider {
    margin-top: 90px;
    width: 100%;
    height: 550px;
  }

  .hero-image-section {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .hero-image-slider-section{
    height: 641.3px;
    background-color: #299479;
    width: 100%;
  }
</style>
{% endblock content %}