{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <section class = "container dproduct my-5 pt-5">
        <div class = "row mt-5">
            <div class = "col-lg-5 col-md-12 col-12">
              <div class="card-img-details" id="productImg" style="background-image: url({{productDetails.product_image.url}});">
              </div>
                <div class = "small-img-group d-flex justify-content-start">
                  {% for pi in productDetails.productimage_set.all %}
                    <div class = "small-img-col">
                      <div class="card-img-details-small" style="background-image: url({{pi.image.url}});">
                      </div>  
                      </div>
                      {% endfor %}
                </div>
            </div>
            <div class = "col-lg-6 col-md-12 col-12 seller-form-section">
                <div class="seller-details">
                <h3><b>Seller Details</b><br><br>
                Sold by: {{productDetails.seller}}<br>
                Phone Number:{{productDetails.phone_number}} <br>
                Location:{{productDetails.address}}<br>
                EmailAddress:{{productDetails.email_address}}<br>
            </h3>
        </div><br>
        <div class="row mt-5">
          <div class="col-md-6 negotiable">
            <h3><b>Pricing Details</b><br><br>
                Price:{{productDetails.item_price}} <br>
                Pricing Negotiable:{{productDetails.price_negotiable}} <br>
            </h3>
        </div>
        <div class="col-md-6 product-detail">
            <h3><b>Product Details</b><br><br>
                Condition:{{productDetails.condition}} <br>
                Rating: <br>
            </h3>
        </div>
        </div>
            </div>
        </div>
    </section>
</body>
  <script>
      var productImg = document.getElementById("productImg");
      var smallimg = document.getElementsByClassName("card-img-details-small");

        smallimg[0].onclick = function(){
          console.log(smallimg[0].style.backgroundImage)
          productImg.style.backgroundImage =  smallimg[0].style.backgroundImage;
      }
        smallimg[1].onclick = function(){
          productImg.style.backgroundImage = smallimg[1].style.backgroundImage;
    }
        smallimg[2].onclick = function(){
          productImg.style.backgroundImage = smallimg[2].style.backgroundImage;
  }
  </script>
  <style>
    .negotiable{
        float: right;
      }
    .product-detail{
        float: left;
    }
    .small-img-col{
        flex-basis: 25%;
        cursor: pointer;
        width: 50px;
        overflow: hidden;
    }
    .small-img-col:hover{
        transform: scale(1.2);
    }
</style>
{% endblock content %}