<h3>Register</h3>

{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
	<div class = "Register-page-body">
		<div class = "container">
	<div class="row register-page-section">
		<div class="col-md-7">
			<div class = "register-image w-100" style="background-image : url({% static 'images/loginimg1.jpg' %})">
			</div>
		</div>
		<div class="col-md-5 register-form-section">
      	 <!-- <div class="hero"> -->
      	 	<div id="error"></div>
			   <div class="register-form-details">
			   <form method = 'POST' id="contactform" class="contact-form">
				{% csrf_token%}
				<div class="register">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Full Name</label>
						<input type="text" name= 'Name' placeholder="Enter your Full Name..." class="form-control" id="exampleInputFullName1" aria-describedby="emailHelp" required>
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">E-mail Address</label>
						<input type="email" name= 'Email_Address' placeholder="Enter your Email..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
					  </div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Password</label>
						<input type="password" name= 'Password' placeholder="Enter your Password..." class="form-control" id="exampleInputPassword1" required 
						onchange="form.Confirm_Password.pattern=this.value">
					  </div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Confirm Password</label>
						<input type="password" name= 'Confirm_Password' placeholder="Re-Enter your Password..." class="form-control" id="exampleInputConfirmPassword1" pattern="" required>
					  </div><br>
					<div>
						<button type="submit" class="btn btn-primary" id="button1">Register</button>
						{% if messages %}
						{% for result in messages %}<br><br>
						<b style="color: green;">{{result}}</b>
						{% endfor %}
						{% endif%}
					</div><br>
				 </div>
				</form>
			</div>
    </div> 
	</div>        
</div>
</div>
 </div>
</div>
 </body>
 <style>
	#button1 {
		width: 40%;
		background-color: #299479 !important;
		border: none !important;
		height: 40px;
		color: white;
	  }
	  .register-page-body{
		margin-top: 150px;
		margin-bottom: 50px;
	  }
	  .register-image{
		height: 529px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	  }
	
	  .register-page-section {
		--bs-gutter-x: 0px;
	  
	  }
	
	  .register-form-section {
		position: relative;
		border: 1px solid black;
	  }
	
	  .register-form-details {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }
 </style>
{% endblock content %} 
 