{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
  <div class="bg-image img1 container">
    <div class="sell-form-section">
      <form method="POST" enctype="multipart/form-data" id="sellform" class="sell-form">
        {% csrf_token %}
        <h2>Sell your Item</h2>
        <div class="Sell">
          <div class="mb-3">
            <label><b>Seller Name</b></label><br>
            <input type="text" name='Name' class="box form-control" placeholder="Enter your name" required>
          </div>
          <div class="mb-3">
            <label><b>Title</b></label><br>
            <input type="text" name='Title' class="box form-control" placeholder="Enter the Ad Title" required>
          </div>
          <div class="dropdown mb-3">
            <label for=list of product><b>Category</b></label><br>
            <select class="Category" name='Category'>
              <option value="womens wear">Womens Wear</option>
              <option value="mens wear">Mens Wear</option>
              <option value="kids wear">Kids Wear</option>
              <option value="party bag">Party Bag</option>
              <option value="hand bag">Hand Bag</option>
              <option value="side bag">Side Bag </option>
            </select><br>
          </div>
          <div class="mb-3">
            <label><b>Address</b></label><br>
            <input type="text" name='Address' class="box form-control" placeholder="Enter your Address" required>
          </div>
          <div class="mb-3">
            <label><b>Item Price</b></label><br>
            <input type="text" name='Price' class="box form-control" placeholder="Enter the Price of the Item" required>
          </div>
          <div class="mb-3">
            <label for="condition"><b>Condition of an item</b></label><br>
            <select class="condition" name='Condition'>
              <option value="good">Good</option>
              <option value="old">Old</option>
              <option value="new">New</option>
            </select><br>
          </div>
          <div class="mb-3">
            <label for="Negotiable"><b>Price Negotiable</b></label><br>
            <select class="condition" name='Negotiable'>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select><br>
          </div>
          <div class="mb-3">
            <label for="image"><b>Upload the product image</b></label>
            <input type="file" name="image" required>
          </div>
          <div class="mb-3">
            <label><b>Description</b></label><br>
            <textarea name="Description" class="box form-control" placeholder="Enter the Description of the Item" required></textarea>
          </div>
          <div>
            <div class="send">
              <button type="submit" class="btn btn-primary" id="button1">Save</button><br>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</body>
<footer>
  <div class="container">
    <div class="sec aboutus">
      <h2>About Website</h2>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but
        also the leap into electronic typesetting, remaining essentially
        unchanged.
      </p>
      <ul class="sci">
        <li>
          <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <div class="sec quickLinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">SellonThrift</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="sec contact">
      <h2>Contact Info</h2>
      <ul class="info">
        <li>
          <span><i class="fa fa-phone" aria-hidden="true"></i></span>
          <p><a href="tel:987654321">9745937593759</a><br>
            <a href="tel:987654321">9745937593759</a>
          </p>
        </li>
        <li>
          <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <p>
            <a href="Mail:thrifthaul@gmail.com">thrifthaul@gmail.com</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>Copyright @ 2022 Thrift Haul. All Rights Reserved.</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
  .sell-form-section {
    margin-top: 100px;
  }

  footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #299479;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer .container .sec {
    margin-right: 30px;
  }

  footer .container .sec.aboutus {
    width: 40%;
  }

  footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;

  }

  footer .container h2:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: white;

  }

  footer .container .sec .aboutus p {
    color: #999;
  }

  .sci {
    margin-top: 20px;
    display: flex;
  }

  .sci li {
    list-style: none;
  }

  .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }

  .sci li a:hover {
    background: #f00;
  }

  .sci li a .fa {
    color: #fff;
    font-size: 20px;
  }

  .quickLinks {
    position: relative;
    width: 25%;
  }

  .quickLinks ul li {
    list-style: none;
  }

  .quickLinks ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    left: 65px;
    top: 2px
  }

  .quickLinks ul li a:hover {
    color: #fff;
  }

  .contact {
    margin-right: 0 !important;
  }

  .contact .info {
    position: relative;
  }

  .contact .info li {
    display: flex;
    margin-bottom: 16px;
  }

  .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    left: 60px;
    top: 2px
  }

  .contact .info li a {
    color: black;
    text-decoration: none;
    position: relative;
    left: 60px;
    top: 2px
  }

  .contact .info li a:hover {
    color: #fff;
  }

  .copyright {
    width: 100%;
    background: #222;
    padding: 8px 100px;
    text-align: center;
    color: white;
  }

  #button1 {
    width: 15%;
    background-color: #299479 !important;
    border: none !important;
    height: 40px;
    color: white;
  }

  @media (max-width: 991px) {
    footer {
      padding: 40px;
    }

    footer .container {
      flex-direction: column;
    }

    footer .container.sec {
      margin-right: 0;
      margin-bottom: 40px;
    }

    footer .container.sec .aboutus,
    .quickLinks,
    .contact {
      width: 100%;
    }

    .copyright {
      padding: 8px 40px;
    }
  }
</style>
{% endblock content %}