{% extends 'base.html' %} {% load static %} {% block content %}

<div class = "container">
<h5 style="margin-top:120px;"><strong>Terms and Condition</strong></h5>
<p>Welcome to ThriftHaul.com ("ThriftHaul / Site"). By using ThriftHaul through website or from any electronic devices (like but not limited to mobile phone application), you acknowledge, understand and agree to following Terms of Use ("Terms").

    ThriftHaul may change or modify the Terms in the future and for any or no reason by posting revisions here. Your continued use of the Site constitutes your acceptance of the revised Terms. You should visit this page and review the Terms from time to time.</p>

<h6><strong>Acceptance Through Use:</strong></h6>
<p>By posting or viewing a classified advertisement on the Site (an "Ad" or "Ads"), you agree to be bound by all of the terms, conditions and notices contained or referenced in these Terms. If you do not accept all of the Terms, you are not authorized to post or view any Ads and shall discontinue using this Site immediately.</p>

<h6><strong>Eligibility / Minimum Age:</strong></h6>
<p> ThriftHaul is not directed to, and is not authorized to post or view Ads, by anyone under the age of eighteen (18) and If you are using ThriftHaul on behalf of a legal entity, you shall be responsible to obtain necessary authority to post or retrieve any information on the Site and you agree to be accountable for those information.</p>

<h6><strong>Understanding of Platform:</strong></h6>
<p>You agree and understand that ThriftHaul is an internet classified platform that facilitates communication between users for the purpose of advertising and sharing information related to goods and/ or services.

    ThriftHaul do not endorse or promote any of the listings, or information posted by users. These users (including You) are third parties and are not related to ThriftHaul or its affiliates. You agree not to hold ThriftHaul responsible for information posted by these users or for their act in any circumstances.
    
    You further understand that ThriftHaul is not involved in transaction of any goods / services listed in the Site. You will be directly contacting users who have posted advertisement regarding their goods or services offering.
    
    If you are using information from Site, in order to communicate / sale / purchase any goods or services from other users, we strongly encourage you take necessary precaution to protect yourself. We recommend that you read our Safety Tips before doing any transaction with other users.</p>

<h6><strong>User Submitted Content:</strong></h6>
<p>By posting or submitting any content to the Site, including any audio or visual files, classified advertisement or personal information (collectively, "Your Content"), during the registration, posting, through interactive public forums or any other feature of the Site you affirm, represent and warrant that<br>

    1> you lawfully own or have rights including the copyright, to Your Content<br>
    2> none of the materials included in Your Content are unlawful, defamatory, libelous, obscene or pornographic, promotes racism or hatred based on age, gender, race, religion, caste, class<br>
    3> use of Your Content will not violate any legal rights (privacy, intellectual property, etc) of any third party<br>
    4> you are solely responsible and accountable for Your Content<br><br>

    Moreover you agree not post or list any information:<br><br>
    
    1> that is related to the sale of any illegal, counterfeit, stolen goods and / or services<br>
    2> of goods / services of which you are not lawful owner or do not have authority to list for<br>
    3> containing virus, spam, pyramid schemes or any similar forms<br>
    4> related to goods / or services that is prohibited by laws & regulation of Federal Democratic Republic of Nepal<br>
    5> not allowed by Site's Ad Posting Rules<br>
    You hereby grant ThriftHaul a worldwide, royalty-free, perpetual, irrevocable, non- exclusive, transferable, sub-licensable right and license (the "License") to use, license, distribute, copy, reproduce, transmit, translate, publicly display, publicly perform, publish and prepare derivative works of Your Content in connection with the Site as well as on any of affiliates or partners websites, publications and mobile platform in any formats and through any media channels. We need these rights with respect to Your Content in order to host and display content.</p>
    
<h6><strong>Violations by User:</strong></h6>
<p>ThriftHaul moderators may monitor Your Content as it appears on the Site and may delete Your Content at any time and for any or no reason without your permission. There is no tolerance for objectionable content or abusive users. Report received are checked and if they are genuine we act accordingly. For content report receive we validate those content and delete if they are found to be objectionable. For user report if one is found to be abusive he/she will be permanently block. ThriftHaul won’t tolerate such abusive user and objectionable content.

    You agree that in the event your listing, posting or your information violates any provision of these Terms or the Ad Posting Rules, we shall have the right to terminate and or suspend your membership of the Site and refuse to provide you or any person acting on your behalf, access to the Site.</p>

<h6><strong>Site Usage / Your Responsibility:</strong></h6>
<p>ThriftHaul grants you a partial, non-transferable and revocable license to access and make personal use of this site. You may download, print or view individual pages of the Site for non-commercial use, provided you do not delete, change or otherwise modify any of the Content, including any copyright or trademark notices.

    You may not use the site for any commercial purpose, including but not limited to, sending unsolicited commercial email or making unsolicited commercial phone calls to users
    
    Much of the information related to goods and /or services is provided by the respective users and may include errors or inaccuracies. This information provided is intended as only general guidelines and you shall make effort to verify this information. ThriftHaul do not guarantee the accuracy and disclaim liability for such inaccuracies related to product and service information.
    
    You are solely responsible for protecting and securing your password of ThriftHaul account and for restricting unauthorized access to your computer or electronic device. You are responsible for all activities that occur under your ThriftHaul account. In case you learn about unauthorized use of your account, you shall notify ThriftHaul to block account immediately.
    
    As a condition of your use of this Web site, you warrant that you will not use this Web site for any purpose that is unlawful or prohibited by Government of Nepal.</p>

<h6><strong>Delivery / Payments / Billing:</strong></h6>
<p>ThriftHaul does not deliver nor does accept payment from users for any product or services listed. ThriftHaul is not involved in buying or selling activities nor does it act as agent or middleman of buyer/seller.

    All product/services are listed by Users (Sellers), who have posted information of their offerings. Sellers are themselves responsible to deliver, obtain payment and issue bill for their sales. Similarly Users making purchases (Buyers) are self responsible to verify goods / services before releasing any payments.
    
    Users (Buyer or Seller) should take necessary measures and obtain appropriate documents related to dealings as they would in traditional offline transactions. Any contractual obligation regarding payment, delivery, terms, conditions, warranties or representations associated are solely between Users (Buyer & Seller), and ThriftHaul is not part of such contract in any manner.</p>

<h6><strong>Privacy Policy</strong></h6>
<p>Protecting privacy is important to us but due to the nature of our business, some functions and services offered through our site requires user to provide certain personal information such as name, email address, contact address, phone numbers, etc for communication purpose and such information collected are provided to us voluntarily. Some of this information is displayed publicly in Internet and may be used by third parties, on whom we do not have any control. Similarly some of personal information is shared with other users in order to facilitate communication.

    Some of computer data are involuntarily collected by our system in order to ensure proper functioning of our services. These data includes cookies, user IP address, site browsing behavior, page traffic & information related to computer, browser, screen, etc. Third party vendor, including Google may also collect these data in order to display ads based user behavior.
    
    We use collected information and data to provide our services, facilitate communication between users, customize information, communicate marketing and promotional offers (which you can opt out anytime), display third parties advertisements, identify user, market research, troubleshoot & improve or develop our system.
    
    We do not sell or rent users personal information to third parties without users explicit consent. However we may be required from time to time to disclose users personal information to Governmental or law enforcement authorities. We may also disclose personal information to enforce our policies regarding to claims made by others for violation of their rights, privacy and property. We may share some part of your personal information with our service provider (including but not limited to mobile network operators, hosting providers, etc), who helps us in functioning of our business and technical operations.
    
    We store this personal information on secure computer & ensure best effort to protect from unauthorized access and malicious use. However transmission of data over internet is not under our control and may not be completely safe.
    
    You can modify, delete your personal details, posting & other information from our system whenever you want. But we might retain backup / archive of such information for purposes not limited to reporting, regulatory compliances, etc for reasonable time. We may aggregate information in manner to anonymize data, and supply such non-personally identifiable data to our affiliates.</p>
</div>
<style>
</style>

{% endblock content %}